.home {

    &-firstbanner {

        &-carousel {
            text-align: center;

            &-linedrawing {

                img {
                    margin: auto;
                    max-height: 300px;
                    max-width: 300px;
                }

                p {
                    margin: 5px;

                    &:first-of-type {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    &-secondbanner {
        background-color: #DDD;
        padding: 20px;
        text-align: center;

        &-portrait {
            margin: auto;
            max-width: 300px;
            width: 100%;
        }

        &-bio {
            margin: auto;
            max-width: 350px;
            text-align: left;

            h3 {
                color: #FFF;
                text-transform: uppercase;
            }
        }

        &-contact {
            margin: auto;
            max-width: 350px;
            text-align: left;
        }
    }
}
