.home {

    &-firstbanner {

        &-carousel {
            text-align: center;

            &-linedrawing {

                img {
                    margin: auto;
                    max-height: 300px;
                    max-width: 300px;
                }
            }

            &-copy {
                margin-top: 20px;

                p {
                    margin: 0;

                    &:first-of-type {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    &-secondbanner {
        background-color: #eee;
        padding: 0 20px;
        text-align: center;

        &-portrait {
            margin: auto;
            max-width: 450px;
            width: 100%;
        }

        &-bio {
            line-height: 1.4;
            margin: auto;
            max-width: 800px;
            text-align: left;

            @media ( min-width: 900px ) {
                display: inline-block;
                /*margin-left: 100px;*/
                vertical-align: top;
                width: 50%;
            }

            @media ( min-width: 1146px ) {
                margin-left: 100px;
            }

            &-link {
                background-color: #CCCCCC;
                color: @black;
                padding: 3px;
                text-decoration: none;

                &:hover {
                    background-color: #AAAAAA;
                }
            }

            h3 {
                color: #FFF;
                text-transform: uppercase;
            }
        }

        &-contact {
            margin: auto;
            padding-bottom: 20px;
            text-align: left;

            &-address {
                text-align: center;

                @media ( min-width: 900px ) {
                    display: inline-block;
                    vertical-align: top;
                }
            }

            &-resume {
                -webkit-appearance: none;

                border: none;
                color: @black;
                display: block;
                height: 50px;
                width: 250px;
                margin: 20px auto 0;

                @media ( min-width: 900px ) {
                    display: inline-block;
                    margin-left: 50px;
                    vertical-align: top;
                }

                &:hover {
                    background-color: @gray-light;
                    color: @white;
                }
            }
        }
    }
}
