.home {

    &-firstbanner {
        margin: 35px 0 75px;
        position: relative;

        &-carousel {
            text-align: center;

            &-linedrawing {

                img {
                    margin: auto;
                    max-height: 450px;
                    max-width: 480px;
                }
            }

            &-copy {
                margin-top: 20px;

                p {
                    margin: 0;

                    &:first-of-type {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
            }
        }

        &-scrollarrow {
            bottom: 30px;
            position: fixed;
            right: 30px;

            &:hover {
                background-color: #d4ecf6;
                padding-left: 30px;
            }

            &.hidearrow {
                display: none;
            }

            img {
                .rotate(90deg);

                width: 30px;
            }
        }
    }

    &-secondbanner {
        background-color: #eee;
        padding: 0 20px;
        text-align: center;

        &-portrait {
            display: inline-block;
            margin: auto;
            max-width: 450px;
            width: 100%;
        }

        &-bio {
            line-height: 1.4;
            margin: auto;
            max-width: 800px;
            text-align: left;

            @media ( min-width: 900px ) {
                display: inline-block;
                padding: 20px;
                vertical-align: top;
                width: 50%;
            }

            @media ( min-width: 1146px ) {
                margin-left: 100px;
            }

            &-link {
                color: @black;
                font-weight: 700;
                padding: 3px;
                text-decoration: none;

                &:hover {
                    background-color: #d4ecf6;
                }
            }

            h3 {
                color: #FFF;
                font-size: 30px;
                margin: 0;
                text-transform: uppercase;
            }
        }

        &-contact {
            margin: auto;
            padding-bottom: 20px;
            text-align: left;

            &-address {
                text-align: center;

                @media ( min-width: 900px ) {
                    display: inline-block;
                    text-align: left;
                    vertical-align: top;
                    // width: 50%;
                }
            }

            a {
                text-decoration: none;
            }

            &-resume {
                -webkit-appearance: none;

                background-color: #eee;
                border: none;
                color: @black;
                display: block;
                font-size: 30px;
                margin: 20px auto 0;
                padding: 0 0 14px 5px;
                text-transform: uppercase;
                width: 200px;

                @media ( min-width: 900px ) {
                    display: inline-block;
                    margin: -7px 0 0 20px;
                    max-width: 250px;
                    text-align: left;
                    // width: 49%;
                    vertical-align: top;
                }

                &:hover {
                    background-color: #d4ecf6;
                    color: @black;
                }
            }
        }
    }
}
