.resume {

    &-popover {

        &-download {
            background-color: #cccccc;
            color: @black;
            display: block;
            margin: auto;
            padding: 20px 0;
            text-align: center;
            text-decoration: none;
            width: 250px;

            &:hover {
                background-color: @gray-light;
                color: @white;
            }
        }
    }
}