{% load staticfiles %}

<h1>Resume</h1>

<h2>Holmstead Designs</h2>
<h3>Self Employed &#8211; Founder</h3>
<h3>Boston, MA 2013 &#8211; Present</h3>
<ul>
    <li><h3>Brainstorm with clients to understand needs</h3></li>
    <li><h3>Generate original sketches and material specs to support the customer’s request</h3></li>
    <li><h3>Client and project management</h3></li>
    <li><h3>Producing client proposals</h3></li>
    <li><h3>Maintaining project budgets</h3></li>
    <li><h3>Issuing purchase orders</h3></li>
    <li><h3>Managing project timelines</h3></li>
</ul>

<h2>Anthropologie</h2>
<h3>Temp &#8211; Visual Sales Associate for Store Opening</h3>
<h3>Chestnut Hill, MA Fall 2013</h3>
<ul>
    <li><h3>Assisted in the visual display creation and installation to support store opening</h3></li>
    <li><h3>Conceptualized and collaborated in the creation of 3-dimensional displays/artwork, large and small.</h3></li>
    <li><h3>Incorporated personal artistic vision</h3></li>
    <li><h3>Created with customer experience in mind</h3></li>
    <li><h3>Manipulation of materials, with knowledgeable use of power tools</h3></li>
</ul>

<h2>Mar Silver Design</h2>
<h3>Freelance &#8211; Draftsperson and Materials Library Manager</h3>
<h3>Westport, CT Winter &#8211; Spring 2013</h3>
<ul>
    <li><h3>Managed and maintained the materials library while creating an efficient management system</h3></li>
    <li><h3>Updated and maintained lighting and furniture plans and schedules</h3></li>
    <li><h3>Collaborated on custom designs with architects concerning millwork and furniture</h3></li>
    <li><h3>Initiated hand and computer renderings for client’s final proposals</h3></li>
</ul>

<h2>Mary Delaney Interior Design</h2>
<h3>Design Assistant &#8211; High End Residential Firm</h3>
<h3>New York, NY Spring &#8211; Fall 2012</h3>
<ul>
    <li><h3>Created plans and interior elevations</h3></li>
    <li><h3>Assisted in design and creation of custom millwork, furniture, and lighting</h3></li>
    <li><h3>Worked hands-on with installations and collaborated with clients, contractors, and vendors</h3></li>
    <li><h3>Managed sourcing, research, purchase orders, schedules, and quotes</h3></li>
</ul>

<h2>Anthropologie</h2>
<h3>Visual Display Internship</h3>
<h3>Dedham, MA Winter &#8211; Spring 2011</h3>
<ul>
    <li><h3>Created by hand, in-store visual installations</h3></li>
    <li><h3>12 installations, ranging from 10&#8242;x10&#8242; to 40&#8242;x40&#8242;</h3></li>
    <li><h3>Worked collaboratively with creative team on a daily basis to ensure each installation had a unique aspect to the design</h3></li>
</ul>

<h2>Zamforia</h2>
<h3>Design Internship</h3>
<h3>Quincy, MA Spring &#8211; Winter 2009</h3>
<ul>
    <li><h3>Collaborated with client for design and merchandising strategy</h3></li>
    <li><h3>Created unique customer experience, complete with custom mosaic countertop</h3></li>
    <li><h3>Interior design renovation of store space</h3></li>
    <li><h3>Website design assistance</h3></li>
    <li><h3>Merchandising design, T-shirts and promo posters</h3></li>
</ul>

<hr />

<h2>Education</h2>

<h3>New England School of Art and Design at Suffolk University</h3>
<h3>Boston, MA Fall 2006 &#8211; Spring 2011</h3>
<h3>BFA Interior Design</h3>

<a
    class="resume-popover-download"
    download
    href="{% static 'portfolio/downloads/resume.pdf' %}"
>
    Download Resume
</a>
