{% load staticfiles %}
<div class="resume-popover">
    <h1>Resume</h1>

    <section class="resume-popover-experience">
        <h2>Experience</h2>

        {% for job in resume.experience %}
            <div class="resume-popover-experience-block">
                <h2>{{ job.company }}</h2>
                <h3>{{ job.title }}</h3>
                <h3>{{ job.location_and_duration }}</h3>
                <p>{{ job.description }}</p>
            </div>
        {% endfor %}
    </section>

    <hr />

    <section class="resume-popover-education">
        <h2>Education</h2>

        {% for schooling in resume.education %}
            <div class="resume-popover-education-block">
                <h3>{{ schooling.school }}</h3>
                <h3>{{ schooling.location_and_duration }}</h3>
                <h3>{{ schooling.focus_of_study }}</h3>
                <p>{{ schooling.notes }}</p>
            </div>
        {% endfor %}
    </section>

    <hr />

    <section class="resume-popover-skills">
        <h2>Skills</h2>

        <p>{{ resume.skills }}</p>
    </section>

    <hr />

    <section class="resume-popover-biography">
        <h2>About Me</h2>

        <p>{{ resume.biography }}</p>
    </section>

    <hr />

    <section class="resume-popover-internships">
        <h2>Internships</h2>

        {% for internship in resume.internships %}
            <div class="resume-popover-internships-block">
                <h2>{{ internship.company }}</h2>
                <h3>{{ internship.title }}</h3>
                <h3>{{ internship.location_and_duration }}</h3>
                <p>{{ internship.description }}</p>
            </div>
        {% endfor %}
    </section>

    <a
        class="resume-popover-download"
        download
        href="{% static 'portfolio/downloads/erica_whiteside_resume_2015.pdf' %}"
    >
        Download Resume
    </a>
</div>
