{% load staticfiles %}

<footer class="footer">
    <img
        class="footer-image"
        src="{% static 'portfolio/img/footer/Footer_Background.jpg' %}"
    >
    <div class="footer-copy">
        <h3>Follow Me</h3>
        <div class="footer-copy-socialcollection">
            <a
                href="https://www.linkedin.com/in/ericawhiteside"
                target=_blank;
                title="Erica Whiteside LinkedIn"
            >
                <img
                    alt="LinkedIn Logo"
                    src="{% static 'portfolio/img/footer/iconmonstr-linkedin-64.png' %}"
                >
            </a>
            <a
                href="https://www.pinterest.com/imerica"
                target=_blank;
                title="Erica Whiteside Pinterest"
            >
                <img
                    alt="Pinterest Logo"
                    src="{% static 'portfolio/img/footer/iconmonstr-pinterest-64.png' %}"
                >
            </a>
            <a
                href="https://instagram.com/ehwhiteside"
                target=_blank;
                title="Erica Whiteside Instagram"
            >
                <img
                    alt="Instagram Logo"
                    src="{% static 'portfolio/img/footer/iconmonstr-instagram-64.png' %}"
                >
            </a>
        </div>
        <p>&copy; {% now "Y" %} <span>Erica Whiteside</span> All Rights Reserved.</p>
    </div>
</footer>
