{% load staticfiles %}

<header class="header">
<!--     <ul class="header-nav">
        <a href="{% url 'home' %}">
            <li
                {% if title == 'home' %}
                    class="active"
                {% endif %}
            >
                Home
            </li>
        </a>
        <a href="{% url 'portfolio' %}">
            <li
                {% if title == 'portfolio' %}
                    class="active"
                {% endif %}
            >
                Portfolio
            </li>
        </a>
        <a href="#">
            <li>Blog</li>
        </a>
    </ul> -->
    <a href="{% url 'home' %}">
        <img
            class="header-logo"
            alt="Erica Whiteside Logo"
            src="{% static 'portfolio/img/header/erica_logo.png' %}"
        >
    </a>
    <h1 class="header-logo-title">Erica Whiteside</h1>
</header>
