{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="home-firstbanner">
        <div class="home-firstbanner-carousel linedrawing-carousel">
            {% for linedrawing in linedrawings %}
            <div class="home-firstbanner-carousel-linedrawing">
                {% with 'portfolio/img/home/'|add:linedrawing.image as image_static %}
                    <img src="{% static image_static %}" alt="louis xvi chair hand drawing">
                {% endwith %}
                <div class="home-firstbanner-carousel-copy">
                    <p>{{ linedrawing.title }}</p>
                    <p>{{ linedrawing.type }}</p>
                    <p>{{ linedrawing.date }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="home-secondbanner">
        <div class="home-secondbanner-contact">
            <img
                class="home-secondbanner-portrait"
                alt="Erica Whiteside Portrait"
                src="{% static 'portfolio/img/home/profile_black_and_white.jpg' %}"
            />
            <h3>Erica Whiteside</h3>
            <address>
                Jamaica Plain, MA 02130<br/>
                E: ehwhiteside@gmail.com<br/>
                P: 508 269 3392
            </address>
            <button class="home-secondbanner-resume home-resume-button">Resume</button>
        </div>

        <div class="home-secondbanner-bio">
            <h3>Hello</h3>
            <p>I’m Erica, E for short. Originally based in Boston MA, I always find my roots drawing me towards historic New England. I’m currently moving back to Boston, from Brooklyn, NY where I have been the Designer/Art Director for the past year at the boutique landscape firm, <a href="www.vergdantgardens.com">VERDANT</a>. I was trained as an Interior Designer at the NEW ENGLAND SCHOOL OF ART AND DESIGN (** link to curriculm **), where I received a BFA. Upon graduation, I won the Design Excellence Award for my Senior Thesis.</p>
            <p>Being a creative with many passions, I always strive to try new things in each job I enter. Interning at ANTHROPOLOGIE for their visual team was a great start, where I expanded my knowledge of ____________. At Verdant, I explored the world of plants and the visual impact they can impart on a __________. I have always loved the visual arts and my neverending yearning to seek further training through fine art classes since I was eleven is a testament to that desire. Recently, I took a course in upholstery at the ELIOT SCHOOL, where I deconstructing a _____________ chair (**link to chair project**). I discovered a newfound appreciation for the craft and the blood, sweat and tears that go into furniture making.</p>
            <p>My true passion is residential design. This stems from my healthy obsession with history. Each city, town, and neighborhood tells a tale and I always take the time to read it through the local architecture. Reviewing the lines of the roofs and lecturing my boyfriend on when the structure was built and why the style is true to its surroundings, he is very kind to entertain me.</p>
            <p>Working in the design field, I strive to create refreshing style derived from nature and everyday experiences. I thrive off of the collaboration with a creative team. I work diligently to produce professional projects and maintain being a perfectionist when it comes to execution. I’m easy to talk to and love to tell a good story, so please reach out and contact me.</p>
        </div>

    </section>

{% endblock %}
