{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="home-firstbanner">
        <div class="home-firstbanner-carousel linedrawing-carousel">
            {% for linedrawing in linedrawings %}
            <div class="home-firstbanner-carousel-linedrawing">
                {% with 'portfolio/img/home/'|add:linedrawing.image as image_static %}
                    <img src="{% static image_static %}" alt="louis xvi chair hand drawing">
                {% endwith %}
                <div class="home-firstbanner-carousel-copy">
                    <p>{{ linedrawing.title }}</p>
                    <p>{{ linedrawing.type }}</p>
                    <p>{{ linedrawing.date }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="home-secondbanner">
        <img
            class="home-secondbanner-portrait"
            alt="Erica Whiteside Portrait"
            src="{% static 'portfolio/img/home/profile_black_and_white.jpg' %}"
        /><!--

        --><div class="home-secondbanner-bio">
            <h3>Hello</h3>
            <p>I’m Erica, E for short. Originally based in Boston MA, I always find my roots drawing me towards historic New England. I’m currently moving back to Boston, from Brooklyn, NY where I have been the Designer/Art Director for the past year at the boutique landscape firm, <a class="home-secondbanner-bio-link" href="http://www.verdantgardens.com" target="_blank">Verdant Gardens</a>. I was trained as an Interior Designer at the New England School of Art and Design, where I received a BFA. Upon graduation, I won the Design Excellence Award for my Senior Thesis.</p>
            <p>Being a creative with many passions, I find myself trying new things in each job I enter. I’ve always loved the visual arts and have been trained in fine art classes since I was a child. Although, my true passion is residential design. This stems from my healthy obsession with history. With each city, town, and neighborhood I enter I stop to admire the local architecture. Reviewing the lines of the roofs and lecturing my boyfriend on when the structure was built and why the style is true to its surroundings, he is very kind to entertain me.</p>
            <p>Working in the design field, I strive to create refreshing style derived from nature and everyday experiences. I thrive off of the collaboration with a creative team. I work diligently to produce professional projects and maintain being a perfectionist when it comes to execution. I’m easy to talk to and love to tell a good story, so please reach out and contact me.</p>
            <div class="home-secondbanner-contact">
                <address class="home-secondbanner-contact-address">
                    Jamaica Plain, MA 02130<br/>
                    E: ehwhiteside@gmail.com<br/>
                    P: 508 269 3392
                </address>
                <a
                    class="home-resume-popover"
                    href="#resume"
                >
                    <button
                        class="home-secondbanner-contact-resume home-resume-button"
                    >
                        Resume
                    </button>
                </a>
            </div>
        </div>

    </section>

    <section
        id="resume"
        style="display: none;"
    >
        {% include 'portfolio/_resume_popover.html' %}
    </section>

{% endblock %}
