body {
  margin: auto;
  min-width: 320px;
  width: 100%;
}
/* Grays */
body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
}
.header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
}
.header-logo {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 40px 0;
  width: 100%;
}
.header-logo-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.header-nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
.header-nav li {
  color: #000000;
  display: inline-block;
  list-style-type: none;
  padding: 20px;
}
.footer {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300;
  background-color: #000000;
  position: relative;
  text-align: center;
}
.footer-image {
  display: block;
  width: 100%;
}
.footer-copy {
  background-color: #000000;
}
@media (min-width: 900px) {
  .footer-copy {
    background-color: transparent;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
.footer-copy-socialcollection a {
  text-decoration: none;
}
.footer-copy-socialcollection img {
  margin: 0 10px;
  width: 50px;
}
.footer h3 {
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 16px;
  text-transform: uppercase;
}
.footer p {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 16px 0;
}
.home-firstbanner {
  margin: 35px 0 75px;
  position: relative;
}
.home-firstbanner-carousel {
  text-align: center;
}
.home-firstbanner-carousel-linedrawing img {
  margin: auto;
  max-height: 450px;
  max-width: 480px;
}
.home-firstbanner-carousel-copy {
  margin-top: 20px;
}
.home-firstbanner-carousel-copy p {
  margin: 0;
}
.home-firstbanner-carousel-copy p:first-of-type {
  font-size: 20px;
  font-weight: 700;
}
.home-firstbanner-scrollarrow {
  bottom: 30px;
  position: fixed;
  right: 30px;
}
.home-firstbanner-scrollarrow:hover {
  background-color: #d4ecf6;
  padding-left: 30px;
}
.home-firstbanner-scrollarrow.hidearrow {
  display: none;
}
.home-firstbanner-scrollarrow img {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 30px;
}
.home-secondbanner {
  background-color: #eee;
  padding: 0 20px;
  text-align: center;
}
.home-secondbanner-portrait {
  display: inline-block;
  margin: auto;
  max-width: 450px;
  width: 100%;
}
.home-secondbanner-bio {
  line-height: 1.4;
  margin: auto;
  max-width: 800px;
  text-align: left;
}
@media (min-width: 900px) {
  .home-secondbanner-bio {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    width: 50%;
  }
}
@media (min-width: 1146px) {
  .home-secondbanner-bio {
    margin-left: 100px;
  }
}
.home-secondbanner-bio-link {
  color: #000000;
  font-weight: 700;
  padding: 3px;
  text-decoration: none;
}
.home-secondbanner-bio-link:hover {
  background-color: #d4ecf6;
}
.home-secondbanner-bio h3 {
  color: #FFF;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
}
.home-secondbanner-contact {
  margin: auto;
  padding-bottom: 20px;
  text-align: left;
}
.home-secondbanner-contact-address {
  text-align: center;
}
@media (min-width: 900px) {
  .home-secondbanner-contact-address {
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }
}
.home-secondbanner-contact a {
  text-decoration: none;
}
.home-secondbanner-contact-resume {
  -webkit-appearance: none;
  background-color: #eee;
  border: none;
  color: #000000;
  display: block;
  font-size: 30px;
  margin: 20px auto 0;
  padding: 0 0 14px 5px;
  text-transform: uppercase;
  width: 200px;
}
@media (min-width: 900px) {
  .home-secondbanner-contact-resume {
    display: inline-block;
    margin: -7px 0 0 20px;
    max-width: 250px;
    text-align: left;
    vertical-align: top;
  }
}
.home-secondbanner-contact-resume:hover {
  background-color: #d4ecf6;
  color: #000000;
}
.resume-popover {
  margin: auto;
  max-width: 640px;
}
.resume-popover-experience-block h2 {
  margin: 20px 0 0 0;
}
.resume-popover-experience-block h3 {
  font-weight: 400;
  margin: 0;
}
.resume-popover-education-block h3 {
  margin: 0;
}
.resume-popover-education-block h3:not(:first-of-type) {
  font-weight: 400;
}
.resume-popover-education-block p {
  margin: 0;
}
.resume-popover-internships-block h2 {
  margin: 20px 0 0 0;
}
.resume-popover-internships-block h3 {
  font-weight: 400;
  margin: 0;
}
.resume-popover-download {
  background-color: #cccccc;
  color: #000000;
  display: block;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  width: 250px;
}
.resume-popover-download:hover {
  background-color: #777777;
  color: #ffffff;
}
